body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.jumbotron {
  padding-left: 1rem;
  padding-right: 1rem; }

@media (min-width: 768px) {
  .jumbotron {
    padding-left: 6rem;
    padding-right: 6rem; } }
pre {
  white-space: normal; }

.list-group-item {
  padding: 0.25rem .5rem; }

.image-card {
  flex: 0 1;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px; }